body{
    background-color: black;
}
.to-do-list{
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
h1{
    font-size: 4rem;
    color: rgb(173, 166, 166);
}
button{
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-btn{
    background-color: grey;
}
.add-btn:hover{
    background-color: rgb(35, 33, 33);
}
.delete-btn{
    background-color: red;
}
.delete-btn:hover{
    background-color: green;
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: hsl(0, 0%, 0%,0.5);
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsl(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex:1;
}
.delete-btn{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
